<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styledash.css">
    <link rel="shortcut icon" href="../static/favicondash.png" type="image/x-icon">
    <title>TaskMaster</title>
</head>
<body>
    <div class="app">
        <h1>TaskMaster</h1>
        <a href="{{ url_for('logout') }}">Log Out</a>
        <input type="text" class="todo-input" placeholder="Escreva alguma tarefa">
        <div class="todos">
            <div class="uncompleted-todos">
                {% for task in tasks if not task.completed %}
                    <div class="todo-item" data-id="{{ task.id }}">
                        <span>
                            <input type="checkbox" onclick="markAsCompleted('{{ task.id }}')">
                            {{ task.task }}
                        </span>
                        <a href="#" onclick="removeTodo('{{ task.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M18 6l-12 12" />
                                <path d="M6 6l12 12" />
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="completed-todos">
                {% for task in tasks if task.completed %}
                    <div class="todo-item" data-id="{{ task.id }}">
                        <span>
                            <input type="checkbox" checked onclick="markAsUncompleted('{{ task.id }}')">
                            {{ task.task }}
                        </span>
                        <a href="#" onclick="removeTodo('{{ task.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M18 6l-12 12" />
                                <path d="M6 6l12 12" />
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>  
    </div>

    <script src="../static/scriptdash.js"></script>
</body>
</html>
